*{box-sizing:border-box}

nav{ width: 50%;
overflow: auto;
background-color: peachpuff;}

ul{
    list-style-type: none;
    padding: 0px;
    width: 100%;
}

li{ list-style: none;
    float: left;
    width:25%;
    height: 2em;
    border: 1px solid brown;
    text-align: center;
}
a{text-decoration: none;


}
