*{box-sizing:border-box}

nav{ width: 50%;
    background-color: peachpuff;
    border: 1px solid goldenrod;}

ul{ overflow: auto;
    list-style-type: none;
    padding: 0px;
    width: 80%;
    margin: 0px auto;}

li{ list-style: none;
    float: left;
    width:25%;
    height: 2em;
    border: 1px solid brown;
    text-align: center;}

a{text-decoration: none;}

p{
    margin:2em 2em;
    clear: both;}
