h1 { color:red; font-family:30px }
h2{color:yellow;font-family:20px }
p.p1{color:rebeccapurple;font-family:15px;}
p.p2{color:magenta; font-size:10px }
p.p3{color:olivedrab; font-family:10px}
footer{ color:green;font-family:10px }
