*,*::before,*::after,*:before,*:after, {box-sizing: border-box;}

body{
    width: 90%;
    margin: 2em auto;
    background-color: gray;
    
    }

#menu{
    
    background-color: red ;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li{
    display: inline;
    margin: auto;
    border: 1px solid  white;
}

body>section, body>div{
    float: left;}
body>section{
   width: 70%}

aside{
width: 30%;
}