*,*::before,*::after,*:before,*:after, {box-sizing: border-box;}



body{
    max-width: 1024px;
    margin: 2em auto;
    background-color: gray;
    
    }

body>section, body>div{
    float: left;}

body>section{
  width: 69%;
   margin-right: 2%;}

body>div{
width: 29%;}

.clear_fix{
    clear: both
}

footer{
text-align: center;
margin-top: 2em;
 clear: both;
}
div#articulo1{
    float: left;
    width: 49%;
    margin-right:1%
}

div#articulo2{
    float: right;
    width: 50%;
}

#imagen2{
    margin: 1.5%;
     width: 45%;
     float:left;
}

#imagen3{
    margin: 1%;
     width: 40% ;
     
}


catalogo{
    width:25% auto;
}
/**********Tamaño entre 768px y 480 px**********************/
@media screen and (max-device-width: 768px) and (min-device-width: 480px) {
    body>section{
  width: 100% auto;
   margin-left: 10%;}

   body>div{
width: 100%;}

figure{
    display: inline-block;
}

figcaption{
    margin-right: 1em;
}
#imagen3{
margin: 1%;
   width: 50%;     
}



}
/**********Tamaño de 480px(Modo movil)**********************/
@media screen and (max-device-width: 480px) {
      body>section{
  width: 100% auto;
   margin-left: 10%;}

    div#articulo1{
    float: left;
    width: 49%;
    margin-right:1%
}

div#articulo2{
    float: right;
    width: 50%;
    
}
